[submodule "MultiThreadDotnet"]
	path = MultiThreadDotnet
	url = https://github.com/nguyentruonggiang0210/DotNetMultithread.git
[submodule "RAG"]
	path = RAG
	url = https://github.com/nguyentruonggiang0210/RAG.git
